/**
 * Created by brooksjohnson on 4/12/24.
 */

:host{
    --dark-blue: #022451;
    --background: #0076d3;
    --light-red: #e91515;
}

.app {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background: var(--dark-blue);
    min-height: 100vh;
    font-size: 16px;
    padding: .75rem;
}

.box{
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 12px;
    margin: .75rem;
}

.box-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dotted-circle{
    border: 2px dashed var(--dark-blue);
    padding: 1rem;
    border-radius: 50%;
}


h2{
    font-size: 1.5rem;
    font-weight: 700;
}

.icon-color {
    --slds-c-icon-color-foreground-default: var(--dark-blue);
}
.edit-icon {
    --slds-c-icon-color-background: var(--dark-blue);
    margin-right: 5px;
}

.delete-icon {
    --slds-c-icon-color-background: var(--light-red);
}

header {
    background: var(--background);
    color: white;
    text-align: center;
    padding: .25rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 .notes {
     height: 221px;
     overflow: auto;
     padding: .25rem 1rem;
 }

 .date {
     font-size: .8rem;
     font-style: italic;
     color: darkgray;
 }
 .footer {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: .25rem 1rem;
     background: lightgray;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
 }

