/**
 * Created by brooksjohnson on 5/1/24.
 */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: .5rem;
}

tr:nth-child(even){
    background: #ddd;
}